@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');

html, body {
 height: 100%;
 cursor: default;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
}

html, body, pre,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, ul, li, ol,
th, td, p, blockquote,
form, fieldset, legend,
menu, nav, section, hgroup, article, header, aside, footer,
input, select, textarea, button {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Noto Sans KR', sans-serif;
}
body,
h1, h2, h3, h4, h5, h6, table,
input, select, textarea, a {
	font-size: 12px;
	color: #222;
	font-weight: 300;
	
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
img, fieldset,button {
	border:0 none;
}
img {
	vertical-align: top;
}
li {
	list-style: none;
}
hr, caption, legend {
	display: none;
}
a { 
	color: #363636;
	text-decoration: none;
    vertical-align: middle;
	border: none;
	cursor: pointer;
}
button {
	overflow: hidden;
	cursor: pointer;
}
button span {
	visibility: hidden;
}
address, em {
	font-style: normal;
}
button, input, select, textarea, a {
	vertical-align: middle;
}
select {
	line-height: 18px;
	height: 18px;
}
input:focus {
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: keep-all;
}

select,
input[type="text"],
input[type="file"]{max-width:100%}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f8f8fa;
    border-radius: 5px;
}
