#wrap{
    width:100%;
    max-width: 1920px;
    min-height: 100vh;
    margin:0 auto;
    background-color: #f8f8f8;
}

/* header */

#header {
    position: fixed;
    max-width: 1200px;
    width: 100%;
    height: 80px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    background-color: #f8f8f8;
}

#header .logo{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 20px;
}

#header .logo a{
    display: block;
    background: url(../images/main/logo.png) no-repeat center;
    width: 50px;
    height: 39px;
    font-size: 0;
}

#header .gnb {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 20px;
}

#header .gnb li {
    display: inline-block;
    margin-right: 20px;
}

#header .gnb li:last-child {
    margin-right: 0;
}

#header .gnb li a {   
    font-size: 1.1rem; 
    color: #222;
}

#header .gnb li a>span {
    position: relative;
    vertical-align: middle;
    padding: 4px 0;
}

#header .gnb li a>span::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #222;
    bottom: 0;
    transform: scaleX(0);
}

#header .gnb li a>span:hover::after {    
    transform: scaleX(1);
    transition: transform 0.25s;
}


#header .gnb li a.active>span::after {    
    transform: scaleX(1);
}

/* header end */

/* content */

#content {
    display: block;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

.wrapper {
    position: relative;
    padding: 50px 0;
}

.wrapper ul {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper ul li {
    position: relative;
    cursor: pointer;
    margin: 1%;
}

.wrapper ul li img {
    width: 100%;
}

.wrapper ul li .cont_info {
    position: absolute;
    top: 0;
    width: 100%;
    height: available;
    height: -webkit-fill-available;
    text-align: left;
    opacity: 0;
}

.wrapper ul li .cont_info:hover {
    opacity: 1;
    transition: opacity .5s ease;
}

.wrapper ul li .cont_info p {
    padding: 15px;
    font-size: 2.0rem;
	font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    color: #fff;
}

.wrapper ul li .cont_info span {
    padding: 0 15px;
    font-size: 0.9rem;
    color: #fff;
}

/* content end */

/* footer */

#footer {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    /* width: 100%;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); */
    background-color: #f8f8f8;
}

#footer p {
    padding-bottom: 30px;
}

/* footer end */

/* sub-content */
.nav {
    position: relative;
    display: block;
    margin: 20px 0;
}

.nav li {
    display: inline-block;
}

.nav li a {
    vertical-align: middle;
    font-size: 1.0rem;
}

.nav li:first-child::after {
    content: '>';
    vertical-align: middle;
    font-size: 1.0rem;
    margin: 0 10px;
}

/* info */
.profile {
    position: relative;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px 0;
}

.profile img {
    width: 150px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.profile li{
    font-size: 1.2rem;
	font-family: 'Playfair Display', sans-serif;
    color: #222;
    line-height: 1.5;
    font-weight: 700;
}

.profile li:first-child{
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-top: 10px;
    font-style: italic;
}

.profile li a{    
    font-size: 1.2rem;
	font-family: 'Playfair Display', sans-serif;
    color: #222;
    line-height: 1.5;
    font-weight: 700;
}

.profile .txt {
    margin-top: 20px;
    font-size: 1.0rem;
}

.etc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.etc .title {
    font-size: 1.0rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.etc li {
    font-size: 0.9rem;
}

.edu, .certf, .skill {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 100px;
}

.skill {
    width: 35%;
    margin-right: 0 !important;
}

.bar_wrap {
    margin: 10px 0;
}

.bar_wrap p {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 5px;
    display: inline-block;
}

.bar_wrap span {
    margin-left: 10px;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: inline-block;
}

.bar {
    width: 100%;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
  }
  
.bar_inner {
    width: 0;
    height: 5px;
    line-height: 5px;
    background: #222;
    border-radius: 5px 0 0 5px;
  }

/* work */

.info {
    position: relative;
    display: block;
    padding: 10px 0;
}

.info .tit{
    font-size: 2.0rem;
	font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    color: #222;
}

.info .txt {
    margin-top: 20px;
    font-size: 1.0rem;
}

.ico {
    font-size: 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    margin-right: 5px;
}

.ps {    
    background-image: url(../images/main/ps_icon.png);
}

.html {
    background-image: url(../images/main/html_icon.png);
}


.css {
    background-image: url(../images/main/css_icon.png);
}


.info .info_img {
    display: block;
    max-width: 1180px;
    margin-top: 30px;
    overflow-y: auto;
    white-space: nowrap;
    cursor: move;
    transition: transform ease-in-out 0.3s;
}

.info .info_img div{
    display: inline-block;
    width: 800px;
    margin-right: 25px;
    padding-bottom: 20px;
}

.info .info_img .zoom {
    width: 100%;
}

.info .info_img div.app {
    width: 250px;
}

.info .info_img div:last-child {
    margin-right: 0;
}

.info .info_img div img {
    width: 100%;
    border-radius: 10px;
}

.info .info_img div.app img {
    border-radius: 20px;
}

.code {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
}

.code .code_txt {
    font-size: 1.2rem;
    padding: 10px;
}

.code1 {
    width: 55%;
}

.code2 {
    width: 45%;
}

.colorscripter-code {
    height: 500px;
}

@media screen and (max-width: 768px) {

    #content {
        padding: 80px 10px 0;
    }

	.code1 {
        width: 100%;
    }
    
    .code2 {
        width: 100%;
    }

    .etc {
        justify-content: start !important;
    }

    .skill {
        width: 80%;
    }
    
}

@media screen and (max-width: 1024px) {

    #content {
        padding: 80px 10px 0;
    }    
}